<div class="container buffer">
 
    <h3>Evidence Labelling</h3>

    <p>The purpose of this annotation task is to label whether evidence from a Wikipedia page is suitable to fully support or refute simple factoid sentences called claims.</p>

    <p>
        Annotation guidelines and advice are available in our ArXiv paper: <a href="https://arxiv.org/pdf/1803.05355.pdf">https://arxiv.org/pdf/1803.05355.pdf</a>. Please read the appendix sections A.7.1, A.7.3 and A.8. Section A.7.2 does not apply to this task.
    </p>

    <p>
        The consent form you agreed to is available here: <a href="/consent">https://fever.shef.ac.uk/consent</a>.
    </p>


    <div class="navigation_actions"><button ng-click="annotate()" class="btn btn-lg btn-outline btn-primary">Begin Annotation</button></div>

</div>

